<ion-footer class="custom-footer">
  <ion-toolbar class="custom-toolbar">
    <ion-segment value="home" class="custom-segment">
      <ion-segment-button value="home" routerLink="/home">
        <ion-icon name="home-outline" class="footer-icon"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="tickets" routerLink="/register">
        <ion-icon name="ticket-outline" class="footer-icon"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="favorites" routerLink="/favorite-trips">
        <ion-icon name="heart-outline" class="footer-icon"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="profile" routerLink="/profile">
        <ion-icon name="person-outline" class="footer-icon"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>