#title {
  background: linear-gradient(to right, #1381C6 0%, #1381C6 50%, #1CAB7E 50%, #1CAB7E 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; 
  font-weight: 600; 
}
ion-toolbar {
  background-color: white;
}

.likes-section, .history-section {
  padding: 16px;
}

.like-item, .history-item {
  display: inline-block;
  margin: 8px;
}

.like-item img {
  width: 100px; /* Tamanho das imagens de Likes */
  border-radius: 10px;
}

.history-item img {
  width: 50px; /* Tamanho das imagens de History */
  border-radius: 10px;
}